.botones a{font-size: 1.5rem;
    margin: 1rem;
    line-height: 1rem;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    border: none; 
    text-decoration: none;
    }
    
    div h3 {color:red; font-size: 1.5rem;}
    
    div h4 {color: red ; font-size: 1rem;}
    
    
    .jugadores { display: flex ;
       padding: 1rem;
        gap:1rem;
        justify-content: space-between;

    }
    .imagen-index {
        
        display: flex;
        padding: 10px;
         gap:1rem;
         justify-content:center;
         

    }
    
    .imagen { width: 400px; 
            height: 300px;
            display: flex;
            justify-content:center ;
            margin-top: 5rem;
        } 
    .iconito { width: 24px; height: 24px;}
    
    .contenedor { 
        display: grid;
        width: 800px;
        height: 400px;
        margin:auto;
        gap:1rem;
        
       
    
     align-items: center;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "caja1 caja2"
        "caja1 caja3"
        ;
    
    }
    
    .caja1 { grid-area: caja1
        
        
       
    
       }
    
    .caja2 {grid-area:caja2
    }
    
    .caja3 {grid-area: caja3;
    }
    
    .contenedor-footer { 
        max-width: 1200px   ;
        margin: 0 auto ;
    }